In [1]:
import pandas as pd
import sqlite3 as sql

conn = sql.connect("factbook.db")
q = "select * from facts limit 5"
pd.read_sql_query(q, conn)

,id,code,name,area,area_land,area_water,population,population_growth,birth_rate,death_rate,migration_rate
0,1,af,Afghanistan,652230,652230,0,32564342,2.32,38.57,13.89,1.51
1,2,al,Albania,28748,27398,1350,3029278,0.30,12.92,6.58,3.30
2,3,ag,Algeria,2381741,2381741,0,39542166,1.84,23.67,4.31,0.92
3,4,an,Andorra,468,468,0,85580,0.12,8.13,6.96,0.00
4,5,ao,Angola,1246700,1246700,0,19625353,2.78,38.78,11.49,0.46

In [2]:
summary = "select MIN(population), MAX(population), MIN(population_growth), MAX(population_growth) from facts"
pd.read_sql_query(summary, conn)

,MIN(population),MAX(population),MIN(population_growth),MAX(population_growth)
0,0,7256490011,0.0,4.02

In [4]:
q2 = "select name, population from facts where population = 0 or population = 7256490011"
pd.read_sql_query(q2, conn)

         name  population
0  Antarctica           0
1       World  7256490011

In [6]:
q3 = "select population, population_growth, birth_rate, death_rate from facts where name != 'World' AND name != 'Antarctica';"
df = pd.read_sql_query(q3, conn)
df.head()

   population  population_growth  birth_rate  death_rate
0  32564342.0               2.32       38.57       13.89
1   3029278.0               0.30       12.92        6.58
2  39542166.0               1.84       23.67        4.31
3     85580.0               0.12        8.13        6.96
4  19625353.0               2.78       38.78       11.49

In [9]:
%matplotlib inline
import matplotlib.pyplot as plt

fig = plt.figure(figsize=(10,10))
ax = fig.add_subplot(1, 1, 1)

df.hist(ax=ax)

AttributeError: Unknown property figsize